# Credentials
.env
src/config_local.py

# Python
__pycache__/
*.pyc

# Video sources and manifests
*.fmp4
*.mp4
*.mkv
*.mov
*.mpd
*.m3u8
*.tmp

# Logs
logs/
*.log

# Metadata
*.json

# VSCode
.vscode/

# Todo
todo.md